# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar

# Environment files
.env
.env.*